body {
    counter-reset: section;

    color: #000000;
    margin:0 auto;
    padding:0;
    font-size: 14px;
    font-family: verdana, arial, helvetica, geneva, sans-serif;

    font-style: normal;
    line-height: 1.333em;
    font-weight: normal;
    font-variant: normal;
    line-height:1.8em;
    margin-left:0.2cm;
    margin-right:0.2cm;
}

#wrap {
    color: #000000;

    margin:10px auto;
    padding:0;
    width:80%;
    min-width:700px;
}

#content {
    background-color: #FFFFFF;
    -moz-border-radius:10px;
    -khtml-border-radius:10px;
    border-radius: 10px;

    float:left;
    margin-left:1em;
    margin-right:1em;
    margin-bottom:2em;
    padding:0;

    text-align:left;
    width:99%;
    font-size: 14px;
    background-color:#ffffff;
}

h1.doc  {
    margin-top: 1em;
    margin-bottom: 25px;
    font-family: arial, sans-serif;
    line-height:1.2em;
    color: #000000;
}

h2.doc:before {
    content: counter(section) ". ";
    counter-increment: section;
}

h2.doc  {
    counter-reset: subsection;

    margin-top: 2.5em;
    font-family: arial, sans-serif;
    color: #000;
    padding-bottom: 2px;
    border-bottom: 1px solid #919699;
    margin-right:1em;
}

h3.doc:before {
    content: counter(section) "." counter(subsection) " ";
    counter-increment: subsection;
}

h3.doc  {
    margin-top: 2em;
    margin-bottom: .5em;
    font-family: arial, sans-serif;
    color: #000;
}

h4.doc  {
    margin-top: 2pt;
    margin-bottom: .5em;
    font-family: arial, sans-serif;
    color: #000;
}

tt  {
    font-family:  Monaco, Courier, monospace, 'Andale Mono', Monaco, Consolas;
    font-size: inherit;
    color: #093DA0;
}

#footer {
    float: left;
    width:90%;
    margin-left:1em;
    margin-right:1.5em;
}

#src {
    font-size:0.6em;
    float:left;
}

#copy {
    font-size:0.6em;
    float:right;
}


.centered {
    text-align:center;
}

.formula {
    vertical-align:middle;
    margin-bottom:5px;
}

a {
    color: #093DA0;
}

a:hover {
    text-decoration: none;
    color: #093DA0;
}

/* footnote */

li.footnote {
    list-style-type: none;
}

/* TOC */

h4.toc {
    font-size: 85%;
    min-width:350px;
}

ul.sections {
    counter-reset: toc_section;
    margin-top: -0.2em;
    margin-left: -2em;
    list-style-position: outside;
}


li.section:before {
    content: counter(toc_section) ". ";
    counter-increment: toc_section;
}

li.section {
    list-style-type: none;
}

ul.subsections {
    counter-reset: toc_subsection;
    list-style-position: outside;
    margin-left: -1.5em;
}

li.subsection:before {
    content: counter(toc_section) "." counter(toc_subsection) " ";
    counter-increment: toc_subsection;
}

li.subsection {
    list-style-type: none;
}

li.subsectionitem {
    list-style: none;
}

/* Toc */

#toc {
    /*border:1px solid #2f6fab;*/
    border:1px solid #aaaaaa;
    background-color:#f9f9f9;
    padding-top:0px;
    padding-bottom:3px;
    padding-left:5px;
    padding-right:5px;
    font-family: arial, sans-serif;
    float: right;
    margin-top: 2.5em;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-right: 1em;

    -moz-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
}

a.toc {
    text-decoration: none;
    color: #093DA0;
}

/* Table */

table.tabular {
    border-width: 1px;
    border-style: outset;
    border-spacing: 0px;
    padding:0px;
    margin:0px;
}

td.tabular {
    vertical-align:center;
    padding:10px;
}

td.center {
    text-align: center;
}

td.left {
    text-align: left;
}

td.right {
    text-align: right;
}

td.justify {
    text-align: justify;
}

td.header {
/*
    font-weight:bold;
*/
}

a {
}

p {
    /*
    margin: 0px;
    padding: 0px;
    */
}

table.paramlist {
    border-collapse: separate;
    border-spacing: 0px;
    border: 0px;
    margin: 0px;
    padding: 0px;

    margin:0px;
    border-spacing-top:    0px 10px;
    width: 100%;
}

tr.paramlist {
    padding:0px;
    margin:0px;
    border-spacing:0px;
}

td.paramlist_key {
    border: outset 0pt;
    padding: 0px 10px 0px 0px;

    text-align: left;
    vertical-align: top;
    font-weight:bold;
    width: 10%;
    text-decoration: none;
}

td.paramlist_value {
    border: outset 0pt;
    padding: 0px;

}

p.paramlist {
    margin: inherit;
    padding: inherit;
}

/* Test-Table */
table.default {
    border-left: solid 0px;
    border-top: solid 0px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    width:90%;
}

td.default {
    border-top: solid 1px;
    border-left: solid 1px;
}

/* Ranks-Table */

table.ranks {
    border-width: 1px;
    width:90%;
}

td.ranks.row_0 {
/*
    font-weight:bold;
*/
}

td.ranks.oddRow {
    background-color: #F6F6F6;
}

td.ranks.evenRow {
    background-color: #E9E9F3;
}


/* List */

ul.itemize {
    text-align: left;
    padding-left:20px;
    margin-top:0px;
    margin-bottom:0px;
}

li.itemize_item {
    margin-top:2px;
    margin-bottom:2px;
}

ol.enumerate {
    text-align: left;
    padding-left:20px;
    margin-top:0px;
    margin-bottom:0px;
}

li.enumerate_item {
    margin-top:2px;
    margin-bottom:2px;
}

/* Coderef */

a.coderef {
    display:            block;
    text-decoration:    none;
    color:              inherit;
}

div.coderef {
    border: 1px solid #969696;
    -moz-border-radius:5px;
    -khtml-border-radius:5px;
    border-radius:5px;
    background-color: #F6F6F6;
    padding: 2px;
    margin:0px;
}

div.coderef:hover {
    border: 3px solid #969696;
    padding: 0px;
}

div.half {
    width: 50%;
}

div.coderef_outer {
    border: 0px;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom:15px;
    margin-top:0px;
}

div.code_description {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}

/* Code Title */

div.code_title {
    margin-bottom:10px;
    margin-top:0px;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:10px;
    padding-right:10px;
    border-bottom: 1px solid #8E8E8E;
}

/* docref */

a.docref {
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    border-bottom: 1px dotted #8E8E8E;
}

a.docref:hover {
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    border-bottom: 0px;
}

span.docref {
    color: #F0F0F0;
}

span.docref:hover {
    color: #8E8E8E;
}

span.docrefcomment {
    color: inherit;
}

a.docrefcomment {
    color: inherit;
    text-decoration: none;
}

/* Code */

div.code {
    -moz-border-radius:10px;
    -khtml-border-radius:10px;
    border-radius:10px;
    background-color: #F6F6F6;
    padding: 0px;
    margin-left: 10px;
    margin-right: 40px;
    margin-bottom:15px;
    margin-top:0px;
}

div.code_title {
    margin-bottom:10px;
    margin-top:0px;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:10px;
    padding-right:10px;
    border-bottom: 1px solid #8E8E8E;
}

div.code_content {
    margin-bottom:0px;
    margin-top:0px;
    padding-top:1px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    line-height:1.4em;
}

span.code_content {
    font-family:  Menlo, monospace, Monaco, Courier, 'Andale Mono', Monaco, Consolas;
    font-size: 13px;
}

a.code {
    color: #8E8E8E;
    text-decoration: none;
}


/* Box */

div.box {
}

div.theorem {
    background-color: #E9E9F3;
    border: 1px solid #000000;
}

div.note {
    /*
    background-color: #B3CDE0;
    */
    background-color: #F6F6F6;
}

div.warning {
    background-color: #ECD5D8;
}

div.box_container {

    margin-left: 10px;
    margin-right: 40px;
    margin-bottom:0px;
    margin-top:0px;

    -moz-border-radius:10px;
    -khtml-border-radius:10px;
    border-radius:10px;
}

div.box_title {
    margin-bottom:0px;
    margin-top:0px;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:10px;
    padding-right:10px;

/*
    font-weight:bold;
*/
    border-bottom: 1px solid #000000;
}

div.box_content {
    margin-bottom:0px;
    margin-top:0px;
    padding-top:1px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
}

/* Shell */

div.shell {
    background-color: #FAFAFA;
    color: #000000;

    margin-left: 10px;
    margin-right: 40px;
    margin-bottom:0px;
    margin-top:0px;

    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;


    -moz-border-radius:5px;
    -khtml-border-radius:5px;
    border-radius:5px;
}

div.shell_error {
    border: 1px solid #D40202;
    background-color: #F7E7E7;
}

span.cmd {
    font-weight:bold;
}

/* Latex */

.latex_block {
    margin-bottom:10px;
    margin-top:10px;
}

/* FileTree */


li.filetree {
    color: #093DA0;
    list-style-type: none;
}

li.file {
    list-style-type: circle;
}

li.dir {
    list-style-type: disc;
}

li.dir.expanded {
    list-style-type: circle;
}

a.dir {
    text-decoration: none;
}

a.dir:hover {
    color: #818181;
    text-decoration: none;
}

.filetree.file {
    color: #093DA0;
}

.filetree.fileextension {
    color: #818181;
    text-decoration: none;
}

.filetree.fileextension:hover {
    color: #093DA0;
    text-decoration: none;
}

.filetree.fileextension.bracket {
    color: #818181;
}

.filetree.fileextension.comma {
    color: #818181;
}

.filetree.file.unlinked {
/*
    font-style:italic;
*/
}

.filetree.file.linked {
    text-decoration: none;
}

.filetree.file.linked:hover {
    color: #818181;
    text-decoration: none;
}

h2.filetree:before {
}

h2.filetree  {
    margin-top: 2.5em;
    color: #000;
    padding-bottom: 2px;
    border-bottom: 1px solid #919699;
    margin-right:1em;
}

a.filetree.title {
    color: #000000;
}

/* SourceFile */


div.sourcefile {
    background-color: #F6F6F6;
    margin-left: 10px;
    margin-right: 40px;

    padding-top:7px;
    padding-bottom:7px;
    padding-left:15px;
    padding-right:25px;
    margin-bottom:10px;
    margin-top:0px;
}

/* code link */

a.codelink {
    text-decoration: none;
    border-bottom:1px dotted;
    color: inherit;
}

a.codelink:hover {
    text-decoration: none;
    border-bottom:0px;
    color: inherit;
}

table.codelink_listitem {
    width : 100%;
}

tr.codelink_listitem {
    width : 100%;
}

td.codelink_listitem {
    width : 100%;
    font-family:monospace;
    font-size:14px;
}

td.codelink_listitem:hover {
    background-color: #969696;
}

td.codelink_listitem_external {
    width : 100%;
    font-family:monospace;
    font-size:14px;
    color: #969696;
}

a.codelink_listitem {
    text-decoration: none;
}

span.codelink_listitem {
    text-decoration: none;
    border-bottom:1px dotted;
    border-color: red;
    color: inherit;
}

span.codelink_listitem:hover {
    text-decoration: none;
    border-bottom:0px;
    color: inherit;
}


/* Browse files */

a.nav {
    text-decoration: none;
}

div.nav {
    width: 100%;
}

span.nav_tut_middle {
    float:left;

    padding-top:7px;
    padding-bottom:7px;
    padding-left:0px;
    padding-right:25px;

    margin-left: 1em;
}

span.nav_tut_right {
    float:right;

    padding-top:7px;
    padding-bottom:7px;
    padding-left:15px;
    padding-right:0px;

    margin-right: 1em;
}


