################################################################################
##   DocTool Configuration                                                    ##
##                                                                            ##
##   NOTE:                                                                    ##
##   -  shell variables that should be expanded must be enclosed by "{", "}"  ##
##   -  Following the bash notation you can use default values, e.g.          ##
##          export DOC_PROJECT=${DOC_PROJECT:-Dummy}                          ##
##      sets DOC_PROJECT to "Dummy" unless it was already defined earlier     ##
##   -  this config file gets evaluated                                       ##
##          after doctool.preconfig and                                       ##
##          before doctool.postconfig                                         ##
##                                                                            ##
################################################################################

#-- VIM -----------------------------------------------------------------------#
#
# We need vim to render source code. Should work on Mac OS X and Ubuntu.
#
export VIM=vim
export VIMRUNTIME=/opt/local/share/vim/vim73
#------------------------------------------------------------------------------#

#-- Template files ------------------------------------------------------------#
#
# Should work if DOCTOOL points to the correct location of doctool.
#
export TEMPLATE_DIR=${DOCTOOL}/Templates
export SLIDE_HEADER=${TEMPLATE_DIR}/SimpleHeader
export SLIDE_FOOTER=${TEMPLATE_DIR}/SimpleFooter

export FILETREE_HEADER=${TEMPLATE_DIR}/FiletreeHeader
export FILETREE_FOOTER=${TEMPLATE_DIR}/SimpleFooter

export SOURCEFILE_HEADER=${TEMPLATE_DIR}/SimpleHeader
export SOURCEFILE_FOOTER=${TEMPLATE_DIR}/SimpleFooter

export LATEX_HEADER=${TEMPLATE_DIR}/LatexHeader.tex
export LATEX_FOOTER=${TEMPLATE_DIR}/LatexFooter.tex
export LATEX_FORMULA=${TEMPLATE_DIR}/LatexFormula.tex
#------------------------------------------------------------------------------#


#-- Resource files ------------------------------------------------------------#
export DEFAULT_CSS=${TEMPLATE_DIR}/default.css
export JS_CENTERWINDOW=${TEMPLATE_DIR}/tip_centerwindow.js
export JS_FOLLOWSCROLL=${TEMPLATE_DIR}/tip_followscroll.js
export JS_TOOLTIP=${TEMPLATE_DIR}/wz_tooltip.js
#------------------------------------------------------------------------------#


################################################################################
##                                                                            ##
##  DEFAULT PATHS                                                             ##
##                                                                            ##
##  You can overwrite values with local config files                          ##
##                                                                            ##
################################################################################

#-- Location of doc files -----------------------------------------------------#
#
# We assume doc-files are located in the current directory or subdirectories
#
export DOCSRC_DIR=${DOCSRC_DIR:-${PWD}}
#------------------------------------------------------------------------------#


#-- Location of html output and log files ----------------------------------#
export DOC_PROJECT=${DOC_PROJECT:-Dummy}
export HTML_DIR=${HTML_DIR:-${HOME}/Sites/${DOC_PROJECT}}
export LOG_DIR=${LOG_DIR:-${HOME}/Sites/${DOC_PROJECT}/log}
export DB_DIR=${DB_DIR:-${HOME}/Sites/${DOC_PROJECT}/db}
#------------------------------------------------------------------------------#


#-- Destination of files for download, images, ... ----------------------------#
#
# Location of resources like images, sourcecode, ...
#
export DOCSRC_DIR=${DOCSRC_DIR:-${HTML_DIR}/docsrc}
export IMAGE_DIR=${IMAGE_DIR:-${HTML_DIR}/Images}
export DOWNLOAD_DIR=${DOWNLOAD_DIR:-${HTML_DIR}/download}
#------------------------------------------------------------------------------#


#-- Temporary files -----------------------------------------------------------#
#
# Location for temporary files produced while generating html output
#
export TMP_DIR=${TMP_DIR:-/tmp/${DOC_PROJECT}}
#------------------------------------------------------------------------------#


#-- Code files ----------------------------------------------------------------#
#
# Example code gets copied and executed in this directory
#
export CODE_DIR=${CODE_DIR:-${PWD}}
#------------------------------------------------------------------------------#


#-- Shell ---------------------------------------------------------------------#
#
# Shell scripts will change to this directory before execution starts
#
export SHELL_HOME_DIR=${SHELL_HOME_DIR:-${CODE_DIR}}
#------------------------------------------------------------------------------#

################################################################################
##                                                                            ##
##  Source Code Indexing and Cross-Referencing                                ##
##                                                                            ##
################################################################################

#

#-- CXXFLAGS ------------------------------------------------------------------#
#
# CXXFLAGS are used by the clang parse when extracting declarations from
# C++ headers.
#
export CXXFLAGS=${CXXFLAGS:--x c++ -std=c++11 -Wall -I${DOCSRC_DIR}}


